.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.513); 
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px) ;
  border-radius: 25px;
  position: relative;
  z-index: 10;
  display: flex;
}
