.main{
    flex: 1;
    min-height: 100vh;
    position: relative;
    padding-bottom: 15vh;

}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: rgba(72, 69, 69, 0.864);
}
.main .nav img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;

}

.main-container .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main-container span{
    
    background: linear-gradient(16deg ,#4b90ff , #ff5546) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px , 1fr));
    gap: 15px;
    padding: 20px;
}

.main-container .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

    &:hover{
        background-color: rgba(204, 204, 204, 0.35);
    }
}
.main-container .card img{
    position: absolute;
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main-container .card p{
    color: #585858;
    font-size: 17px;


  
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin:auto ;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color:#f0f4f9 ;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

